{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{res.GameNumber}}" method="POST">
    <div class="row">
        <div class="col">
            <label for="GameNumber">Game Number</label>
            <input id="GameNumber" type="number" class="form-control" placeholder="Game Number" name="GameNumber" value="{{res.GameNumber}}">
        </div>
        <div class="col">
            <label for="GameLength">Game Length</label>
            <input id="GameLength" type="number" class="form-control" placeholder="Game Length" name="GameLength" value="{{res.GameLength}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save Edit</button>
</form>
{% endblock %}